Repository flatpak/flatpak-builder-tools, pull requests merged in 2025-05, with the labels that each got.

#456 cargo: Add optional yaml output
  cargo/README.md
  cargo/flatpak-cargo-generator.py
  cargo/pyproject.toml
Labels: cargo

#353 poetry: support for poetry metadata format 2.0
  poetry/flatpak-poetry-generator.py
Labels: poetry

#458 poetry: Simplify the get_pypi_source() function and prefer only any wheels
  poetry/flatpak-poetry-generator.py
Labels: poetry

#460 Add Flatpak Deno generator
  .github/labeler.yml
  .github/workflows/deno.yml
  .github/workflows/publish-jsr.yml
  .gitignore
  CODEOWNERS
  deno/README.md
  deno/deno.json
  deno/deno.lock
  deno/src/main.ts
  deno/src/utils.ts
  deno/tests/main.test.ts
  deno/tests/main_function.test.ts
  deno/tests/utils.test.ts
Labels: CI, deno

#463 deno: add docs to get 100 score in jsr
  .github/workflows/deno.yml
  deno/deno.json
  deno/src/main.ts
Labels: CI, deno

#465 deno: handle peer deps with multiple peers
  deno/deno.json
  deno/src/main.ts
  deno/tests/main_function.test.ts
Labels: deno

#467 Fix shortHash extension handling
  deno/src/utils.ts
  deno/tests/utils.test.ts
Labels: deno

#469 deno: Inline NPM registry metadata for reproducibility
  deno/deno.json
  deno/src/main.ts
  deno/tests/main.test.ts
Labels: deno

#470 cargo: Use force checkout if git sources in cache differ
  cargo/flatpak-cargo-generator.py
Labels: cargo

#471 Setup cargo config in cargo generator README
  cargo/README.md
Labels: cargo

#472 Add end-of-file newline for flatpak-pip-generator
  pip/flatpak-pip-generator.py
Labels: pip
