Repository flatpak/flatpak-builder-tools, pull requests merged in 2025-01, with the labels that each got.

#435 Add none-any.whl
  pip/flatpak-pip-generator
Labels: pip

#437 dotnet: Add support for additional arguments in flatpak-dotnet-genera…
  dotnet/README.md
  dotnet/flatpak-dotnet-generator.py
Labels: dotnet

#412 node: Fix path-based local package detection
  node/flatpak_node_generator/providers/npm.py
Labels: npm, node
